{{define "posts"}}
    {{with .}}
        <ul>
            {{ range . }}
                <li class="ct-post" data-post-id="{{.Id}}">
                    {{.Text}}<br/>
                    Posted on: {{.Created.Format "January 02, 2006 15:04 UTC" }}
                    <a class="ct-reply-action" href="/api/page/{{.PageId}}/posts/{{.Id}}/replies">Reply</a>
                    <div class="ct-reply-form-wrapper">
                    </div>
                    {{template "posts" .Replies}}
                </li>
            {{ end }}
        </ul>
    {{ end }}
{{end}}

{{define "post-form"}}
    <form class="ct-post-form" action="{{.}}" method="POST">
        <div>
            <textarea name="text" rows="10" cols="80"></textarea>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
{{end}}

<html lang="en">
<head>
    <title>ChatTHREAD</title>
    <link rel="stylesheet" type="text/css" href="/static/css/chatthread.css"/>
</head>
<body>

<div id="ct-main">

    <h1>Page {{.Page.Name}}</h1>

    {{template "post-form" printf "/api/page/%s/posts/" .Page.Id}}

    <div id="ct-posts-wrapper" data-page-id="{{.Page.Id}}">

        {{template "posts" .Posts}}

    </div>

</div>

<script src="/static/js/chatthread.js"></script>
<script id="ct-post-form-template" type="text/template">
    {{template "post-form"}}
</script>

</body>
</html>