{{define "posts"}}
    {{if .}}
        <ul>
            {{ range . }}
                <li>
                    {{.Text}}<br/>
                    Posted on: {{.Created.Format "January 02, 2006 15:04 UTC" }}
                    <form action="/api/page/{{.PageId}}/posts/{{.Id}}/replies" method="POST">
                        <div>
                            <textarea name="text" rows="10" cols="80"></textarea>
                        </div>
                        <div>
                            <input type="submit" value="Save">
                        </div>
                    </form>
                    {{template "posts" .Replies}}
                </li>
            {{ end }}
        </ul>
    {{ end }}
{{end}}

<html lang="en">
<head>
    <title>ChatTHREAD</title>
</head>
<body>

<h1>Page {{.Page.Name}}</h1>

<form action="/api/page/{{.Page.Id}}/posts/" method="POST">
    <div>
        <textarea name="text" rows="10" cols="80"></textarea>
    </div>
    <div>
        <input type="submit" value="Save">
    </div>
</form>

{{template "posts" .Posts}}

</body>
</html>